'EOF'
# OS
.DS_Store
.localized

# Python
backend/.venv/
**/__pycache__/
*.pyc

# Next / Node
frontend/node_modules/
frontend/.next/
*.log

# Data / big files
*.csv
backend/app/data/
backend/app/ml/prototypes.json

EOF


# mac
.DS_Store
.localized

# python
backend/.venv/
**/__pycache__/
*.pyc

# next/node
frontend/node_modules/
frontend/.next/
*.log

# data + big files
*.csv
backend/app/data/
backend/app/ml/prototypes.json

